{% extends 'todo/base.html' %}

{% block content %}

<div class="row">
  <div class="col">
    <h4>Academics Todo!</h4>
  </div>
</div>

<div class="row d-flex justify-content-begin flex-wrap">
  {% if course_list %}
      <ul class="nav nav-tabs">
        {% for course in course_list %}
          <li class="nav-item"> <!-- TODO: # will be replaced by id!!! -->
            <a class="nav-link active" href="#">{{ course.course_name }}</a>
          </li>
        {% endfor %}
      </ul>
  {% else %}
    <p>No classes available!</p>
  {% endif %}
</div>

{%endblock%}
