{% extends 'todo/base.html' %} {% block content %}


<div class="d-flex flex-row">
    <div class="d-flex flex-column">
        <div class="d-flex flex-row">
            <a href="{% url 'todo_list:month' %}">
                <button
                    class="btn btn-sm btn-outline-secondary w-100"
                    href="{% url 'todo_list:month' %}"
                    role="button"
                >
                    Specific Month
                </button>
            </a>

            <div class="dropdown">
                <button
                    class="btn btn-sm btn-outline-secondary dropdown-toggle"
                    href="#"
                    id="viewDropdown"
                    role="button"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                >
                    View by Dates
                </button>
                <div class="dropdown-menu" aria-labelledby="viewDropdown">
                    <a class="dropdown-item" href="{% url 'todo_list:archive_today' %}">
                        Today
                      </a>
                      <a class="dropdown-item" href="/{% now "Y" %}/week/{% now "W" %}">
                        This week
                      </a>
                      <a class="dropdown-item" href="{% url 'todo_list:specific_month' year=1 month='curr' %}">
                        This month
                      </a>
                </div>
            </div>
        </div>
        <div class="d-none d-lg-inline" id="notes">
            <header id="notes-header">
              <span id="notes-title">
              Notes Area
              </span>
            </header>
            <form action="{% url 'todo_list:notes' %}" method="post">
              {% csrf_token %}
              <label for="notes-text"></label>
              <textarea type="text" name="notes" id="notes-text">{{note}}</textarea>
              <button type="submit" class="btn btn-success btn-sm" value="Submit" >Save</button>
            </form>
          </div>
    </div>
    
    
    <!-- Previous Month Button -->
    <div class="d-flex align-items-center mr-5">
        <h2><a style="text-decoration: none;" href="{% url 'todo_list:prev_month' year=curr_year month=curr_month%}">⬅️</a></h2>
    </div>
    <div class="card" style="min-width: 875px;">
        <div class="card-header d-flex flex-column justify-content-center align-items-center py-2 px-0">
            <h1>{{month_name}} {{ curr_year }}</h1>
            <div class="d-flex flex-row justify-content-around w-100 pb-1">
                <div class="d-flex justify-content-center align-items-center" style="width: 125px; height: 50px;">
                    <h3>S</h3>
                </div>
                <div class="d-flex justify-content-center align-items-center" style="width: 125px; height: 50;">
                    <h3>M</h3>
                </div>
                <div class="d-flex justify-content-center align-items-center" style="width: 125px; height: 50px;">
                    <h3>T</h3>
                </div>
                <div class="d-flex justify-content-center align-items-center" style="width: 125px; height: 50px;">
                    <h3>W</h3>
                </div>
                <div class="d-flex justify-content-center align-items-center" style="width: 125px; height: 50px;">
                    <h3>T</h3>
                </div>
                <div class="d-flex justify-content-center align-items-center" style="width: 125px; height: 50px;">
                    <h3>F</h3>
                </div>
                <div class="d-flex justify-content-center align-items-center" style="width: 125px; height: 50px;">
                    <h3>S</h3>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column align-items-center justify-content-center">
            <div class="card-body">
                {% for week in calendar_day_list %}
                    <div class="d-flex flex-row justify-content-around w-100">
                        {% for day in week %}
                            {% if day.blank %}
                                <div style="width: 125px; height: 125px;"></div>
                            {% else %}
                                {% if day.size == -1 %}
                                    <div class="d-flex justify-content-center align-items-center" style="width: 125px; height: 125px;">
                                        <div class="d-flex m-2 p-2 justify-content-center align-items-center">
                                            <h3 class="mb-1" style="text-align: center;">
                                                <a href="{% url 'todo_list:specific_day' year=curr_year month=curr_month day=day.date%}" style="text-decoration: none; color: black;">
                                                    {{day.date}}
                                                </a>
                                            </h3>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if day.size == 0 %}
                                    <div class="d-flex justify-content-center align-items-center" style="width: 125px; height: 125px;">
                                        <div class="d-flex m-2 p-2 justify-content-center align-items-center" style="width: 65px; height: 65px; background-color: #B5EAD7; border-radius: 50%;">
                                            <h3 class="mb-1" style="text-align: center;">
                                                <a href="{% url 'todo_list:specific_day' year=curr_year month=curr_month day=day.date%}" style="text-decoration: none; color: black;">
                                                    {{day.date}}
                                                </a>
                                            </h3>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if day.size == 1 %}
                                    <div class="d-flex justify-content-center align-items-center" style="width: 125px; height: 125px;">
                                        <div class="d-flex m-2 p-2 justify-content-center align-items-center" style="width: 90px; height: 90px; background-color: #FFFD96; border-radius: 50%;">
                                            <h3 class="mb-1" style="text-align: center;">
                                                <a href="{% url 'todo_list:specific_day' year=curr_year month=curr_month day=day.date%}" style="text-decoration: none; color: black;">
                                                    {{day.date}}
                                                </a>
                                            </h3>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if day.size >= 2 %}
                                    <div class="d-flex justify-content-center align-items-center" style="width: 125px; height: 125px;">
                                        <div class="d-flex justify-content-center align-items-center" style="width: 120px; height: 120px; background-color: #FF6961; border-radius: 50%;">
                                            <h3 class="mb-1" style="text-align: center;">
                                                <a href="{% url 'todo_list:specific_day' year=curr_year month=curr_month day=day.date%}" style="text-decoration: none; color: black;">
                                                    {{day.date}}
                                                </a>
                                            </h3>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Next Month Button -->
    <div class="d-flex align-items-center ml-5">
        <h2><a style="text-decoration: none;" href="{% url 'todo_list:next_month' year=curr_year month=curr_month%}">➡️</a></h2>
    </div>
</div>
{% endblock %}