{% extends 'todo/base.html' %} {% block content %}

<div class="row">
  <div class="col">
    <div class="d-flex justify-content-end">
      <a class="btn btn-info btn-sm" role="button" style="color:white;" href="{% url 'todo_list:add_category' %}">+ Add Category</a>
    </div>
    <div class="d-flex justify-content-center">
      {% if category_list %}
        <ul class="w-50 list-group">
            {% for cat in category_list %}
                <li class="list-group-item">
                  <p class="d-flex justify-content-start">
                      {{cat.cat}}
                  </p>
                    <div class="ml-auto">
                      <small class="m-2"
                      ><a href="{% url 'todo_list:edit_category' cat.id %}"
                        >🖊 Edit</a
                      ></small>
                      <small><a
                        class="text-danger" href="{% url 'todo_list:delete_category' cat.id %}"
                        >🗑 Delete</a
                      ></small>
                    </div>
                </li>
            {% endfor %}
        </ul>
        {% else %}
            <p>You have no categories!</p>
        {% endif %}
    </div>
  </div>
</div>


{% endblock %}