{% extends 'todo/base.html' %}

<!-- https://stackoverflow.com/questions/11481499/django-iterate-number-in-for-loop-of-a-template-->

{% block content %}

{% block filter %}
<h4>Completed List</h4>
{% endblock %} <!-- where titles will be-->

<div class="row">
  <!-- sidebar? -->
  <!-- <div class="col">
      <div id="list-example" class="list-group">
        <a class="list-group-item list-group-item-action" href="#list-item-1">Item 1</a>
        <a class="list-group-item list-group-item-action" href="#list-item-2">Item 2</a>
        <a class="list-group-item list-group-item-action" href="#list-item-3">Item 3</a>
        <a class="list-group-item list-group-item-action" href="#list-item-4">Item 4</a>
      </div>
    </div> -->
  <div class="col">
    <div class="d-flex justify-content-center">
      {% if todo_list %}
      <ul class="w-50 list-group">
        <div id="accordion">
          <!-- accordion is the template for collapsing bars -->
          {% for todo_item in todo_list %}
            <div class="card">
              <button
                class="btn collapsed"
                id="cardButton"
                data-toggle="collapse"
                data-target="#collapse{{forloop.counter}}"
              >
              <li class="list-group-item">
                {% if todo_item.priority == "HI" and not todo_item.completed %}
                <div class="card-header border border-danger" id="header{{forloop.counter}}">
                {% elif todo_item.priority == "MD" and not todo_item.completed %}
                <div class="card-header border border-warning" id="header{{forloop.counter}}">
                {% else %}
                <div class="card-header border bg-light" id="header{{forloop.counter}}">
                {% endif %}

                <p class="d-flex justify-content-start">
                  {% if not todo_item.completed %}
                    {{todo_item.title}}
                  {% else %}
                    <del>{{todo_item.title}}</del>
                  {% endif %}
                </p>

                <div class="d-flex justify-content-around mt-3">
                  {% if todo_item.completed %}
                  <small><i>Task Completed!</i></small>
                  {% endif %}
                  <small>due {{todo_item.duedate}}</small>
                </div>
                </div>
              </button>
                <!--forloop.counter gives each instance of todo_item a different id so each box collapses independently of each other -->
                <div id="collapse{{forloop.counter}}" class="collapse">
                  <!--body of the accordion card -->
                  <div class="card-body">
                    <ul style="list-style-type:none">
                      {% if todo_item.description %}
                      <li>
                        <strong>Description:</strong> {{ todo_item.description }}
                      </li>
                      {% endif %} {% if todo_item.location %}
                      <li><strong>Location:</strong> {{ todo_item.location }}</li>
                      {% endif %}
                      {% if todo_item.recur_freq != 'NEVER' %}
                      <li><strong>Repeat:</strong> {{ todo_item.recur_freq }}</li>
                      <li>
                        <strong>End repeat:</strong> {{ todo_item.end_recur_date }}</li>
                      {% endif %}
                    </ul>
                    <div class="row m-sm-3">
                      <div>
                        {% if not todo_item.completed %}
                        <small><a
                          class="text-success" href="{% url 'todo_list:complete_todo' todo_item.id %}"
                          >✅ Complete Task</a
                        ></small>
                        {% else %}
                        <small><a
                          href="{% url 'todo_list:complete_todo' todo_item.id %}"
                        >Undo completion</a></small>
                        {% endif %}
                      </div>
                      <div class="ml-auto">
                        <small class="m-2"
                          ><a href="{% url 'todo_list:detail' todo_item.id %}"
                            >🖊 Edit</a
                          ></small
                        >
                        <small><a
                          class="text-danger" href="{% url 'todo_list:delete_todo_item' todo_item.id %}"
                          >🗑 Delete</a
                        ></small>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </div>
          {% endfor %}
        </div>
      </ul>
      {% else %}
      <body id="rabbit_cheerleaders"></body>
      {% endif %}
    </div>
  </div>
</div>

<body id="finished_all_work"></body>

{% endblock %}
