{% extends 'todo/base.html' %} {% block content %}

<div class="row">
  <div class="col">
    <h4>Your Courses!</h4>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="d-flex justify-content-end">
      <a class="btn btn-sm btn-outline-primary" role="button" href="{% url 'todo_list:add_course' %}">+ Add Course</a>
    </div>
    <div class="d-flex justify-content-center">
      {% if course_list %}
        <ul class="w-50 list-group">
          <div id="accordion">
            <!-- accordion is the template for collapsing bars -->
            {% for course in course_list %}
              <div class="card">
                <button
                  class="btn collapsed"
                  id="cardButton"
                  data-toggle="collapse"
                  data-target="#collapse{{forloop.counter}}"
                >
                <li class="list-group-item">
                  <p class="d-flex justify-content-start">
                    {% if course.course_abbrev %}
                      <h5><strong>{{ course.course_abbrev }}: {{course.course_name}}</strong></h5>
                    {% else %}
                     <h5><strong>{{course.course_name}}</strong></h5>
                    {% endif %}
                  </p>

                </button>
                  <!--forloop.counter gives each instance of todo_item a different id so each box collapses independently of each other -->
                  <div id="collapse{{forloop.counter}}" class="collapse">
                    <!--body of the accordion card -->
                    <div class="card-body">
                      <ul style="list-style-type:none">
                        {% if course.course_prof %}
                          <strong>Professor:</strong> {{ course.course_prof }}
                        {% endif %}
                        <div class="ml-auto">
                          <small class="m-2"
                          ><a href="{% url 'todo_list:edit_course' course.id %}"
                            >🖊 Edit</a
                          ></small>
                          <small><a
                            class="text-danger" href="{% url 'todo_list:delete_course' course.id %}"
                            >🗑 Delete</a
                          ></small>
                        </div>
                      </ul>
                      </div>
                    </div>
                  </li>
              </div>
            {% endfor %}
          </div>
        </ul>
      {% else %}
        <p>You have no courses!</p>
      {% endif %}
    </div>

  </div>
</div>

{% endblock %}