{% extends 'todo/base.html' %} {% block content %}

<div class="row">
  <div class="col">
    <h4>Your Extracurriculars!</h4>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="d-flex justify-content-end">
      <a class="btn btn-info btn-sm" role="button" style="color:white;" href="{% url 'todo_list:add_ec' %}">+ Add Extracurriculars</a>
    </div>
    <div class="d-flex justify-content-center">
      {% if ec_list %}
        <ul class="w-50 list-group">
          <div id="accordion">
            <!-- accordion is the template for collapsing bars -->
            {% for ec in ec_list %}
              <div class="card">
                <button
                  class="btn collapsed"
                  id="cardButton"
                  data-toggle="collapse"
                  data-target="#collapse{{forloop.counter}}"
                >
                <li class="list-group-item">
                  <p class="d-flex justify-content-start">
                     <h5><strong>{{ec.name}}</strong></h5>
                  </p>

                </button>
                  <!--forloop.counter gives each instance of todo_item a different id so each box collapses independently of each other -->
                  <div id="collapse{{forloop.counter}}" class="collapse">
                    <!--body of the accordion card -->
                    <div class="card-body">
                      <ul style="list-style-type:none">
                        {% if ec.detail %}
                          <li><strong>Details:</strong> {{ ec.detail }}</li>
                        {% endif %}
                        {% if ec.start_date %}
                          <li><strong>Start date:</strong> {{ ec.start_date }}</li>
                        {% endif %}
                        {% if ec.end_date %}
                          <li><strong>End date:</strong> {{ ec.end_date }}</li>
                        {% endif %}
                        {% if ec.active %}
                          <li><strong>Still active:</strong> {{ ec.active }}</li>
                        {% endif %}
                        <div class="ml-auto">
                          <small class="m-2"
                          ><a href="{% url 'todo_list:edit_ec' ec.id %}"
                            >🖊 Edit</a
                          ></small>
                          <small><a
                            class="text-danger" href="{% url 'todo_list:delete_ec' ec.id %}"
                            >🗑 Delete</a
                          ></small>
                        </div>
                      </ul>
                      </div>
                    </div>
                  </li>
              </div>
            {% endfor %}
          </div>
        </ul>
      {% else %}
        <p>You have no courses!</p>
      {% endif %}
    </div>

  </div>
</div>

{% endblock %}