{% extends 'todo/list_base.html' %}


<!-- all things on "master" page -->
{% block filter %}

<div class="row">
  <div class="col">
    <h4>Welcome {{user}}!</h4>
    <h4>Here's your to-do list!</h4>
    <div class="d-flex justify-content-end">
      <ul style="list-style-type:none">
        <li><a class="btn btn-info btn-sm" role="button" style="color:white;" href="{% url 'todo_list:add_todo_item' %}">+ Add Todo</a></li>
        <li><a style="margin-top:5px;" class="btn btn-info btn-sm" role="button" style="color:white;" href="{% url 'todo_list:delete_all_incompleted' %}">- Delete all</a></li>
      </ul>
    </div>
  </div>
</div>

{% endblock %}

{% block gif %}
  <body id="rabbit_cheerleaders"></body>
{% endblock %}
