<!doctype html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
  <div>
    <h4>Here's your to-do list!</h4>
  </div>

  <div>
    <table>
      {% if todo_list %}
      <ul class="list-group">
        {% for todo_item in todo_list %}
          <li class = "list-group-item">{{todo_item.title}}
            <small>due {{todo_item.duedate}}</small>
          </li>
        {% endfor %}
      </ul>
        
      {% else %}
        <p>You have no to-do items!</p>
      {% endif %}
      
    </table>
  </div>
</body>