/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

/* Remove outline from button for the card: https://stackoverflow.com/a/11497117 */
#cardButton {
  padding: 0;
  border: none;
  background: none;
}

/* https://github.com/twbs/bootstrap/issues/21943#issuecomment-591427539 */
/* make the width 65% in medium and large screens */
@media (min-width: 768px) {
  .w-md-65 {
    width: 65% !important;
  }
}

.thick-border {
  border-width: 2px !important;
}

.card-description {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav {
  background-color: aliceblue;
}
.ml-auto .dropdown-menu {
  left: auto !important;
  right: 0px;
}

/* https://codepen.io/ceg9498/post/creating-lined-paper */
#notes {
  width: 300px;
  height: 500px;
  font-family: Courier, monospace;
}
#notes-header {
  background: linear-gradient(white, white 33px, pink 35px, pink 36px);
  height: 37px;
}
#notes-title {
  position: relative;
  left: 10px;
  top: 2px;
  font-size: 30px;
  font-weight: bold;
}
#notes-text {
  position: relative;
  font-size: 18px;
  /* margin: 5px 0px 0px 0px; */
  line-height: 27px;
  background-color: white;
  background: repeating-linear-gradient(
    white,
    white 25px,
    #9198e5 26px,
    #9198e5 27px
  );
  width: 300px;
  height: 400px;
}

#rabbit_cheerleaders {
  background: white url("images/rabbit_cheerleaders.gif") no-repeat;
  background-position: center;
}

#finished_all_work {
  background: white url("images/finished_all_work.gif") no-repeat;
  background-position: 10% 50%;
  background-size: 20% 30%;
}

#finished_all_work2 {
  background: white url("images/finished_all_work.gif") no-repeat;
  background-position: 90% 50%;
  background-size: 20% 30%;
}

#burnbooks {
  background: white url("images/burn_books.gif") no-repeat;
  background-position: center;
  background-size: 25% 50%;
}
